@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
    background: url('../assets/images/349258.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    margin-left: 0px;
    width: 90%;
    margin: auto;
}

#video_div {
    position: absolute;
    top: 45%;
    right: 8%;
    width: fit-content;
    height: fit-content;
    background: rgba(0,100,0,0);
}

.home_div {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 8%;
    color: White;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    max-width: 30%;
    border-radius: 2%;
    padding: 20px;
}

.home_div p {
    text-align: left;
}

.about_us {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 8%;
    color: White;
}

.try_it {
    position: absolute;
    top: 22%;
    left: 8%;
    width: 84%;
    max-height: 70%;
    padding: 15px;
    color: White;
    background: rgba(0,100,0,0.5);
    border-radius: 2%;
}

.try_it h2, .try_it_yourself h2, .get_started h2 {
    text-align: center;
}

.try_it, .try_it_yourself, .get_started p {
    text-align: left;
}
.do_it {
    width: 100%;
}

.try_it_yourself {
    float: left;
    width: 30%;
    text-align: left;
}

.image {
    display: flex;
    float: left;
    width: 70%;
    height: 400px;
    margin: auto;
    justify-content: center;
}

.about_div {
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    max-width: 30%;
    border-radius: 2%;
    padding: 20px;
}

.about_div p {
    text-align: left;
}

#team_div h2 {
    text-align: center;
}

#team_div {
    position: absolute;
    top: 22%;
    right: 8%;
    padding: 10px;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    color: White;
    max-width: 50%;
    border-radius: 2%;
}

#login_div, #signup_div, #contact_div {
    position: absolute;
    top: 22%;
    left: 8%;
    padding: 30px;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    color: White;
    max-width: 50%;
    border-radius: 5%;
}

#login_div, #signup_div label {
    font-size: 16px;
}

.register {
    text-align: right
}

.login_title, .sign_up_title, .contact_us_title {
    text-align: center;
}

#submit {
    background-color: rgb(20, 182, 20);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    float: right
}

.get_started input {
    background-color: rgb(20, 182, 20);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(252, 253, 252);
    
}

.get_started input::placeholder {
    color: rgb(252, 253, 252, 1);
}

#contact_info input {
    color: black;
}

#file {
    padding: 7px 0px;
    padding-left: 10px;
}

#submit_img {
    padding: 10px 25px;
}

input {
    margin: 10px;
    padding: 5px;
}

input#email {
    margin: 10px;
    padding: 10px;
    
}

.team_member_container:after {
    content: "";
    display: table;
    clear: both;
}

.team_member_container {
    display: inline-block;
    margin: 0 auto;
    margin-left: 5%;
}

.team_member {
    float: left;
    width: 30%;
    text-align: left;
    vertical-align: top;
    color: white;
    margin-right: 1%;
}

.team_member img {
    align-self: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team_member hr {
    width: 100%;
}

.header {
    justify-content: space-between;
    padding: 20px;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    background-image: url('../assets/images/header-background.png');
    background-repeat: repeat-y;
    width: 100%;
}

.logo {
    position: absolute;
    left: 15px;
    margin: auto;
    top: 1%;
    height: 60px;
    left: 10px;
    cursor:pointer;
}
  
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}  

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(10, 203, 10)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button, input, #submit {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(252, 253, 252);
    text-decoration: none;
}

button {
    background-color: darkgreen;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover, #submit:hover {
    background-color: rgb(3, 144, 3);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
}

h1 {
    color: white;
    position: absolute;
    top: 35%;
    left: 15%;
    padding: 10px;
}

footer {
    background-image: url('../assets/images/footer-background.png');
    background-repeat: repeat-y;
    background-position: 50%;
    text-align: center;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}

#contact_div {
    min-width: 50%;
    max-width: 60%;
    height: 70%;
    border-radius: 5%;
    padding: 15px;
}

.contact_us_content:after {
    content: "";
    display: table;
    clear: both;
}

#contact_info {
    float: left;
    width: 25%;
    align-content: space-around;
}

#category {
    background-color: white;
    color: black;
    border-width: 2px;
    border-color: rgb(1, 85, 1);
    padding: 4px;
    margin-left: 10px;
}

#message_div {
    float: right;
    color: White;
    width: 68%;
}

#message {
    background-color: darkgreen;
    color: White;
    border-color: rgb(1, 85, 1);
    width: 100%;
    height: 70%;
    padding: 10px;
    font-size: 16px;
}

#message::placeholder {
    color: white;
}
