@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
    background: url('../assets/images/349258.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    margin-left: 0px;
    width: 50%;
    left: 0xp;
}

#header_div {
    position: absolute;
    top: 0%;
    left: 0%;
    padding-left: 3%;
    text-align: start;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    width: 97%;
    color: White;
}

#video_div {
    position: absolute;
    top: 25%;
    left: 60%;
    width: fit-content;
    height: fit-content;
    background: rgba(0,100,0,0);
}

#about_div {
    position: absolute;
    top: 45%;
    left: 4%;
    padding: 10px;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    background-size: cover;
    color: White;
    max-width: 30%;
    border-style: solid pink;
    border-width: 30px;
    border-radius: 2%;
}


#team_div {
    position: absolute;
    top: 45%;
    right: 4%;
    padding: 10px;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    background-size: cover;
    color: White;
    max-width: 60%;
    border-style: solid pink;
    border-width: 30px;
    border-radius: 2%;
}

.team_member {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    vertical-align: top;
    color: white;
}

.team_member img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 20px;
}

.navigation {
    position: absolute;
    height: 40%;
    top: 30%;
    right: 5%;
    background-color: darkgreen;
    width: 250px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
    width: 97%;
}
  
.logo {
    position:fixed;
    height: 60px;
    left: 10px;
    cursor:pointer;
}
  
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}  

.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: rgb(10, 203, 10)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(252, 253, 252);
    text-decoration: none;
  }
button{
    background-color: darkgreen;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(3, 144, 3);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkgreen;
    background: rgba(0,100,0,0.5);
}

h1{
    color: white;
    position: absolute;
    top: 35%;
    left: 15%;
    padding: 10px;
}

.team{
    color: white;
    position: absolute;
    top: 35%;
    right: 45%;
    padding: 10px;
    font-size: xx-large;
}


footer{
  color:white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}
