{% extends 'index.html' %}

{% block main %}

<div id="body_main_div">

    <div id="about_div">
        <h2>Dedication to sustainability</h2>
        <hr>
        <p>
            For most of the history of mankind, we were unable to have any
            vast impact on the enviroment, however this all changed rapidly
            in the footsteps of industrialization.
        </p>
        <p>
            As we learn more about our impact on the climate, the more apparent
            the need for action has become. While many focus on mitigating and
            minimizing emissions of green house gases, we decided to combat
            the ever increasing garbage pollution.
        </p>
        <p>
            As materialistic demands increase, so does our accumulation of
            garbage, which of the most ends up in the ocean or other bodies of
            water. Plastics turn into micro-plastics, which in turn turns into
            nano-plastics, and today, there are close to no places left without
            traces of human pollution.
        </p>
        <p>
            Therefore we introduce ways to leverage Machine Learning and advanced
            algoritms in order to detect trash. Trash is detected automaticly
            not only in images but also in videos, enabling local goverments,
            activists and the local communities to clean up their surroundings
            with better efficiency than ever.
        </p>
    </div>

    <div id="video_div"> 
        <video width="560"
            height="315"
            controls autoplay
            muted
            src={{ url_for('static', filename="/assets/videos/demo_01.mp4") }} type="video/mp4"
            title="Demo video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </video>
        <div id="body_main_div">
          </div>
          
    </div>
</div>
{% endblock %}