{% extends 'index.html' %}

{% block main %}

<form method="POST">
    <div id="login_div">
        <h3>Login</h3>
        <form action="submit_form.php" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" placeholder="Enter Username"required>
            <br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <br>
            <p class="p_small">Not yet a member? <a href="/sign-up">Sign up here</a></p><br>
            <input id="submit" type="submit" value="Login">
          </form>
          
    </div>
</form>

{% endblock %}